### Introduction To List

***defination: A list is defined as ordered collection of items.***
    
***A List is classified as mutable datatype.***

***How to define a list ----->***<br/>
**[]**

In [1]:
students = ['pratik','pranil','faiyaz','kiran','kavita']

In [2]:
type(students)

list

### Accessing the items of the list

#### introduction to indexing

In [3]:
students[0]

'pratik'

In [4]:
students[-1]

'kavita'

In [5]:
students[1]

'pranil'

#### How to Modify, `Alter` And `Delete` element in the `list data type.`

In [6]:
my_student = ['Ankit','Deepmala','Rinku','Rupali','Akshay','Prashant']

In [7]:
my_student

['Ankit', 'Deepmala', 'Rinku', 'Rupali', 'Akshay', 'Prashant']

#### Reassigning Items

In [8]:
my_student[-1] = 'Sharad'

In [9]:
my_student

['Ankit', 'Deepmala', 'Rinku', 'Rupali', 'Akshay', 'Sharad']

In [10]:
my_student.insert(0,'Rakshnda') # AT Specific Index

In [11]:
my_student

['Rakshnda', 'Ankit', 'Deepmala', 'Rinku', 'Rupali', 'Akshay', 'Sharad']

In [12]:
my_student.append('Prashant') # AT last i.e. -1 index Position

In [13]:
my_student

['Rakshnda',
 'Ankit',
 'Deepmala',
 'Rinku',
 'Rupali',
 'Akshay',
 'Sharad',
 'Prashant']

In [14]:
my_student[3]

'Rinku'

In [15]:
my_student.insert(2,'Pooja') # AT Specific Index

In [16]:
my_student

['Rakshnda',
 'Ankit',
 'Pooja',
 'Deepmala',
 'Rinku',
 'Rupali',
 'Akshay',
 'Sharad',
 'Prashant']

#### How To Delete Element From List

In [17]:
del my_student[2]

In [18]:
my_student

['Rakshnda',
 'Ankit',
 'Deepmala',
 'Rinku',
 'Rupali',
 'Akshay',
 'Sharad',
 'Prashant']

In [19]:
my_student.remove('Rakshnda') # Remove First Occurrence

In [20]:
my_student

['Ankit', 'Deepmala', 'Rinku', 'Rupali', 'Akshay', 'Sharad', 'Prashant']

In [21]:
x = my_student.pop() # Remove last element and can be stored in variable

In [22]:
x

'Prashant'